/* Estilos personalizados para tonos tierra */

/* Navegación con pestañas */
.nav-pills .nav-link.active {
    background-color: #6D584B !important;
    color: white !important;
}
.nav-pills .nav-link {
    color: white !important;
    border-radius: 0.5rem;
    padding: 0.75rem 1.25rem;
    margin-right: 0.5rem;
    font-weight: 500;
}

/* Botones */
.btn-primary {
    background-color: #8D6E63 !important;
    border-color: #6D584B !important;
    color: white !important;
}

.btn-outline-primary {
    color: #8D6E63 !important;
    border-color: #8D6E63 !important;
}

.btn-outline-primary:hover {
    background-color: #8D6E63 !important;
    color: white !important;
}
